.odin-head{
    text-align: center;
}


.nav {
    border: 1px solid #ccc;
    border-width: 4px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display:inline
}

.nav a {
    display: inline-block;
    padding: 10px;
    color: black;
}


.pizza-img {
    height: auto;
    width: 60vh;
}

.pizza-paragraph1{
    margin-top:2vh;
    padding: 1vh;
}

.marg-pic{
         height: auto;
        width: 60vh;
}

.bfc-img{
        height: auto;
        width: 80vh;
}

body{
    color:white;
    background: rgb(19, 118, 19)
}

.recipe-steps{
    text-decoration: underline;
}

.recipe-div

#recipe-link{
    text-align: center;
    color:wheat;
}

footer {
    display: flex;
    justify-content: center;
}

.home-footer{
    display: flex;
        justify-content: center;
}
