@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

h1{
    font-family: 'Muli', sans-serif;
    font-size: 45px;
    letter-spacing: 9px;
    text-align: center;
}


.nav {
    border: 1px solid #ccc;
    border-width: 4px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display:inline
}

.nav a {
    display: inline-block;
    padding: 10px;
    color: black;
}

p{
    text-indent: 30px;
}

.pizza-img {
    display: block;
    margin: auto;
    height: auto;
    width: 60vh;
    box-shadow: 3px 3px rgb(207 221 75), -1em 0 0.4em #bebe3f;
}

.pizza-paragraph1{
    margin-top:2vh;
    padding: 1vh;
}

body{
    color:white;
    background: rgb(44, 161, 44)
}

.recipe-steps{
    text-decoration: underline;
}

.recipe-div{
    border:6px dotted rgb(83, 96, 239);
    border-radius: 4%;
    margin-top: 0rem;
}

#recipe-link{
    text-align: center;
    color:wheat;
}

footer {
    display: flex;
    justify-content: center;
}

.home-footer{
    display: flex;
        justify-content: center;
}
